.new-expense {
  background-color: #f6f6f6;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  background: linear-gradient(89.73deg, #5248f7 1.69%, #0c02af 114.68%);
  color: white;
  border: none;
  transition: 0.3s ease-in;
  min-width: 160px;
}

.new-expense button:hover,
.new-expense button:active {
  background: linear-gradient(89.73deg, #6660ce 1.69%, #0c02af 114.68%);
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
@media screen and (max-width: 422px) {
  .new-expense button {
    padding: 0.5rem 1rem;
    min-width: 100px;
  }
}
